__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.env
.DS_Store
*.pyc
*.pyo
*.egg-info/
build/
dist/
logs/
mlruns/
data/raw/
data/processed/
data/monitor/
airflow_logs/
docker/.env.local
docker/volumes/
grafana/
prometheus/
.idea/
.vscode/
*~


